

html {
    font-size: 12px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
    font-family: "Inter"
}

*:not(.fa-solid):not(.fa):not(.e-icons) {
    font-family: "Inter"
}

body {
    margin-bottom: 60px;
    background-color: #12161d;
    color: #ffffff;
}

.btn:focus, btn:active {
    outline: none !important;
    box-shadow: none;
}

.no-a-decoration, .no-a-decoration:hover {
    text-decoration: none;
    color: inherit;
}

.e-bigger {
    font-size: medium;
}
/*Radio button Group*/
.e-btn-group.custom-rbt-group {
    width: 100%;
}

    .e-btn-group.custom-rbt-group .e-btn {
        width: 50%;
    }

/*Grid*/
.e-grid {
    border: 0;
    border-radius: 5px;
}

.custom-rbt-group label .e-btn {
    box-shadow: none !important;
    border: 1px solid #fff;
    background-color: rgb(34 43 51);
    color: #fff;
}

e-btn-group.custom-rbt-group input:checked + label.e-btn {
    background-color: #fff;
    color: #212b36;
    border: 1px solid #fff;
}
/*Widget*/
.widget {
    border-radius: 1rem;
    background-color: #1a222b;
}

.form-label {
    color: #0026ff;
}

.mt-0 {
    margin-top: 0 !important;
}

.ms-0 {
    margin-left: 0 !important;
}

.px-0 {
    padding-left: 0 !important;
    padding-right: 0 !important;
}
